


<div class="row">

  <div class="col-lg-1 col-md-0 col-sm-0 col-xs-0"></div>
  <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
  <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
    {% include 'popDiv.html' %}
    <div class="content">

      <form method="post" enctype="multipart/form-data" id="post_form" >
      {% csrf_token %}
      <input type="hidden" name="files" id="files_id" value="">
      <textarea  rows="2" name="statement" id="id_statement" placeholder="What's up!"></textarea>

      <input type="hidden" name="tags" id="tags">
      <label class="custom_file_upload"><i class="fas fa-upload file_upload"></i><input type="file" id="file_id" onchange="readImage(this)" accept=".jpg, .jpeg, .png, .mp4, .wmv, .avi"></label>
      <label class="input_value" id="fileLabel"></label>
      <button class="btn-sm btn-outline-primary float-right" onclick="send_tags(this)">Submit</button>
      <div class="thumbnail" id="thumbnail_id"></div>
      </form>
      
    </div>

    </div>
  <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
  <div class="col-lg-1 col-md-0 col-sm-0 col-xs-0"></div>
</div>

